<div class="footer fixed-bottom text-center">
  <div class="footer-links row d-flex justify-content-center w-25 mx-auto">
  <div class="col">
  <a href="#"><i class="fab fa-github"></i></a>
  </div>
  <div class="col ">
  <a href="#"><i class="fab fa-instagram"></i></a>
  </div>
  <div class="col">
    <a href="#"><i class="fab fa-facebook"></i></a>
  </div>
    <div class="col">
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
  </div>
</div>
