
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://img.freepik.com/vetores-gratis/conceito-de-mudanca-de-casa-de-design-plano-com-caminhao_23-2148665508.jpg?w=1380&t=st=1659406484~exp=1659407084~hmac=768a5b2b4baa6032c5b67c4ab4779d69d7e4d09eece3265af3cf8774c7952b75;">
  <div class="container">
  <br>
    <h1><strong>MOVE EASY!</strong></h1>
    <p><span class="mov"> </span></p> 
     <%= link_to "Offers", offers_path, class:"btn btn-flat" %>
  </div>
</div>

<br>
<div class="container">
<div class="notification">
  <img src='https://images.unsplash.com/photo-1597248374161-426f0d6d2fc9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80' class="avatar-large" />
  <div class="notification-content">
    <p><small>January 5, 2022</small></p>
    <p><em>"Another excellent experience with Moveasy. I have used these guys a couple times this year and they are quick, reliable, and secure. I am very happy to recommend them to anyone who is moving."</em> <strong> Jones, Crystal</strong></p>
  </div>

  <div class="notification-actions">
    <%# <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
    <a href="#">Delete <i class="far fa-trash-alt"></i></a> %>
  </div>
</div>

<div class="notification">
  <img src='https://images.unsplash.com/photo-1597223557154-721c1cecc4b0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80' class="avatar-large" />
  <div class="notification-content">
    <p><small>May 12, 2022</small></p>
    <p><em>"Thank you Easymove for helping me get rid of my 3 level house furniture in 3 days! Now I can move to Australia in peace."</em> <strong> Heillberg, Anna</strong></p>
  </div>

  <div class="notification-actions">
    <%# <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
    <a href="#">Delete <i class="far fa-trash-alt"></i></a> %>
  </div>
</div>

<div class="notification">
  <img src='https://images.unsplash.com/photo-1570295999919-56ceb5ecca61?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80' class="avatar-large" />
  <div class="notification-content">
    <p><small>August 5, 2022</small></p>
    <p><em>"This is the best marketplace app I could find. Easy to use, many options of products, and you can definetly find what you're looking for. I'd recommend it to anyone who likes to save money and time!"</em> <strong> Neal, Brent</strong></p>
  </div>

  <div class="notification-actions">
    <%# <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
    <a href="#">Delete <i class="far fa-trash-alt"></i></a> %>
  </div>
</div>
</div>


<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<% if current_user  %>
  <div class="d-flex justify-content-center mt-5">
    <%= link_to "sair", destroy_user_session_path, method: :delete, class: "btn btn-dark w-25 "  %>
  </div>
<% end  %>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
    var typed = new Typed(".mov",{
    strings: [,  "Moving has never been so easy! "] ,
    typeSpeed: 100,
    backSpeed: 100,
    loop: true
    })
</script>
