
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(https://img.freepik.com/vetores-gratis/conceito-de-mudanca-de-casa-de-design-plano-com-caminhao_23-2148665508.jpg?w=1380&t=st=1659406484~exp=1659407084~hmac=768a5b2b4baa6032c5b67c4ab4779d69d7e4d09eece3265af3cf8774c7952b75;">
  <div class="container">
    <h1><strong>MOVE EASY!</strong></h1>
    <p>Moving has never been so easy.</p>
     <%= link_to "Offers", offers_path, class:"btn btn-flat" %>
  </div>
</div>

<br>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    Breakfast
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
    Lunch
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/dinner.jpg)">
    Dinner
  </div>
</div>


<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<% if current_user  %>
  <%= link_to "sair", destroy_user_session_path, method: :delete %>
<% end  %>
